
@{
    ViewBag.Title = "Package6";
}
@if (Session["UserName"] == null)
{
    <script>
        window.onload = function () {
            {
                window.location.href = "@Url.Action("index","Chesterfields")";
            }
        }
    </script>
}
<style type="text/css">



    blockquote {
        font-size: 5rem;
    }

    cite {
        display: block;
        text-align: right;
        font-family: Verdana, Arial, sans-serif;
        margin-top: 1rem;
        font-size: .9rem;
        color: #aaa;
        font-style: normal;
    }

    blockquote q {
        font-family: Georgia, serif;
        font-style: italic;
        letter-spacing: .1rem;
    }

        blockquote q span {
            will-change: opacity, filter;
            opacity: 0;
            filter: blur(0px);
        }

    q {
        quotes: "“" "”" "‘" "’";
    }

        q:before {
            content: open-quote;
            margin-right: .8rem;
        }

        q:after {
            content: close-quote;
        }

        q:before, q:after {
            color: #ccc;
            font-size: 5rem;
        }

    .home_content {
        position: absolute;
        top: 46%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
    }

    .home_text_large {
        font-size: 215px;
        font-weight: 900;
        color: #fdaa27;
        opacity: 0.34;
        text-transform: uppercase;
        line-height: 0.75;
    }

    .home_text_small {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 72px;
        font-weight: 400;
        color: #FFFFFF;
        text-shadow: 0px 11px 51px rgba(0,0,0,0.35);
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: -2%, background-color: #000000;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .container:hover .overlay {
        height: 100%;
    }

    .text {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 65%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .text1 {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 35%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    div.background {
        background: url('../../Content/images/GREECE1.jpg');
        height: 100%;
        width: 100%;
        margin-top: 80px;
    }

    div.transbox {
        margin: 30px;
        margin-bottom: 60px;
        background-color: rgba(254, 64, 91, 0.79);
        -webkit-font-smoothing: antialiased;
        color: #e5e6e8;
        font-weight: 20px;
        /* For IE8 and earlier */
    }

        div.transbox p {
            margin: 5%;
            font-weight: 20px;
            color: #ffffff;
        }

    .div1 {
        width: 500px;
        height: 500px;
    }

    .div2 {
        width: 500px;
        height: 500px;
    }

    .carousel-control.right, .carousel-control.left {
        background-image: none;
        color: #f4511e;
    }
</style>

<div class="container-fluid" style="padding:0px;position:relative">
    <img src="~/Content/images/GREECE1.jpg" style="height:30%;width: 100%;">
    <div class="home_content">
        <div class="home_content_inner">
            <div class="home_text_large">DISCOVER</div>
            <div class="home_text_small">Discover Santorini</div>
        </div>
    </div>
</div>
<blockquote contenteditable="true"
            style="height:170px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;">
    <q>The journey not the arrival matters.</q>
    <cite style="padding-top:100px;font-size: 2rem;">Mark Twain</cite>
</blockquote>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <DIV class="container">
                <img src="~/Content/images/GREECE2.jpg" style="width: 400px;height:300px;margin-left:200px;">
                <div class="overlay">
                    <div class="text">Kamari Beach</div>
                </div>
            </DIV>
        </div>

        <div class="col-sm-6">
            <DIV class="container">
                <img src="~/Content/images/GREECE3.jpg" style="width:400px;height:300px;">
                <div class="overlay">
                    <div class="text1">Perissa Beach</div>
                </div>
            </DIV>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <DIV class="container">
                <img src="~/Content/images/GREECE4.jpg" style="width:400px;height:300px;margin-left:200px;margin-top: 50px;">
                <div class="overlay">
                    <div class="text">Fira</div>
                </div>
            </DIV>
        </div>
        <div class="col-sm-6">
            <DIV class="container">
                <img src="~/Content/images/GREECE5.jpg" style="width:400px;height:300px;margin-top: 50px;">
                <div class="overlay">
                    <div class="text1">Therasia</div>
                </div>
            </DIV>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding:0px">
    <div class="background">

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <center>
                    <div class="div2 transbox">
                        <h1 style="font-size:200px;">
                            50%
                        </h1>
                        <h2>LAST MINUTE OFFER</h2>
                        <H3>RS.90,000 PER NIGHT</H3>
                        <H3>3 DAYS/4 NIGHTS</H3>
                        <P>TERMS AND CONDITION APPLIED*</P>
                    </div>
                </center>
            </div>

            <div class="col-sm-5">
                <center>
                    <div class="div2 transbox">
                        <h1 style="font-size:200px;">
                            38%
                        </h1>
                        <h2>LAST MINUTE OFFER</h2>
                        <H3>RS.1,60,000 PER NIGHT</H3>
                        <H3>5 DAYS/6 NIGHTS</H3>
                        <P>TERMS AND CONDITION APPLIED*</P>
                    </div>
                </center>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</div>
<div class="container-fluid" style="margin-top: 100px ;margin-bottom: 0px;">
    <h2 style="text-align: center;"><strong>What our customers say</strong></h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"The Chesterfield Hotels is the best. I am so happy with the stay!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
            </div>
            <div class="item">
                <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
            </div>
            <div class="item">
                <h4>"Could I... BE any more happy with the luxury?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container-fluid" style="margin-top: 100px ;margin-bottom: 0px;">
    </div>
    <div class="row" style="background-color: #000000">
        <div class="col-sm-6" style="padding-left: 50px;font-size: 35px;color: #D2AC67; margin-left: 180px;margin-top: 30px;margin-bottom: 30px;"><strong>Book your Vacation...</strong></div>
        <div class="col-sm-4" style="padding-left: 50px;font-size: 35px;">
            @using (Html.BeginForm("displayHotelDetails", "chesterfields", FormMethod.Post, new { }))
            {<div style="display:none">@Html.TextBox("Location", "Greece")</div>
        <button class="btn  btn-lg" style="margin-top: 30px; background-color: #D2AC67;color: #000000">Click here to Book Hotel Now</button>
            }
        </div>

    </div>
</div>
<script type="text/javascript">
    function splitWords() {
        let quote = document.querySelector("blockquote q");
        quote.innerText.replace(/(<([^>]+)>)/ig, "");
        quotewords = quote.innerText.split(" "),
            wordCount = quotewords.length;
        quote.innerHTML = "";
        for (let i = 0; i < wordCount; i++) {
            quote.innerHTML += "<span>" + quotewords[i] + "</span>";
            if (i < quotewords.length - 1) {
                quote.innerHTML += " ";
            }
        }
        quotewords = document.querySelectorAll("blockquote q span");
        fadeWords(quotewords);
    }

    function getRandom(min, max) {
        return Math.random() * (max - min) + min;
    }

    function fadeWords(quotewords) {
        Array.prototype.forEach.call(quotewords, function (word) {
            let animate = word.animate([{
                opacity: 0,
                filter: "blur(" + getRandom(2, 5) + "px)"
            }, {
                opacity: 1,
                filter: "blur(0px)"
            }],
                {
                    duration: 1000,
                    delay: getRandom(500, 3300),
                    fill: 'forwards'
                }
            )
        })
    }
    splitWords();
</script>


<div id="map"></div>
<script type="text/javascript">

    function initMap() {

        var uluru = { lat: 36.3932, lng: 25.4615 };

        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 6, center: uluru });

        var marker = new google.maps.Marker({ position: uluru, map: map });
    }


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqN6YiFEkXkC7pJCjO5_Xa0hSue9DDKg8&callback=initMap">
</script>
