
@{
    ViewBag.Title = "PrivacyPolicy";
}

@if (Session["UserName"] == null)
{
    <script>
        window.onload = function () {
            {
                window.location.href = "@Url.Action("index","Chesterfields")";
            }
        }
    </script>
}
<div class="container-fluid" style="padding:0px">
    <img src="~/Content/images/Hotel13_Main.jpg" width="100%" />
</div>
<div class="container" style="padding:50px">
    <p style="font-size: 40px;"><strong>Privacy Policy</strong></p>

    <ol style="font-size: 20px;">
        HOW YOU MAY PROVIDE US YOUR PERSONAL INFORMATION

        <li>By making a reservation or by using Fairmont Hotels & Resorts services.</li>

        <li>By registering with Fairmont Hotels & Resort's loyalty program, President's Club.</li>

        <li>By registering on the Everyone’s an Original website.</li>

        <li>By providing it to us in communications regarding service delivery such as comment cards.</li>

        <li>By providing the information to us by participating in a marketing initiative.</li>

        <li>By visiting our website.</li>
    </ol>

    <p style="font-size: 20px;">Below we will outline the type of information normally collected in each of these circumstances, the reasons for doing so, how we will use it and store it.</p>

    <p style="font-size: 20px;">MAKING A RESERVATION</p>

    <p style="font-size: 20px;">When making a reservation or using Fairmont Hotels & Resorts services it is necessary to have information in order to identify you, contact you and to process your purchase and requests.This information usually includes your name, address, phone number, e-mail address, credit card number and expiration date, and language preference.It may also include, if you choose to share that information with us, your preferences regarding the delivery of your service such as type of room, type of bed, and the like.You may wish to have your purchase of Fairmont Hotels & Resorts' services recognized in a third party's loyalty program with which Fairmont Hotels & Resorts has a relationship.To do so will require you providing us certain verification information such as your membership number in the third party program.We also offer special discounts from time to time that may have qualifying criteria.Sometimes we offer special offers to, for example, seniors or for children.To assess your eligibility and process your reservation correctly, we need to record your date of birth at the time of booking.You may be required to provide personal identification with your date of birth in order to verify this upon check-in.</p>

    <p style="font-size: 20px;">Fairmont Hotels & Resorts is a family of management companies that manage hotels for third party owners. Your personal information is shared with the third party owner of the hotel where you intend to stay and those of its employees involved in delivering the service to you to the extent necessary for them to do so and to process the transaction.All hotels that are managed by Fairmont Hotels & Resorts are required to agree to abide by the terms of this Privacy Protection Policy.</p>

    <p style="font-size: 20px;">From time to time, we offer packages or other services that involve third parties.If you are partaking of such a package or service, your personal information will be shared with that third party to the extent necessary to provide that service and process the purchase or request.</p>

    <p style="font-size: 20px;">Fairmont Hotels & Resorts may use the information you provide to send you offers and information about Fairmont Hotels & Resorts services and those of select third parties.Your information will not be given to these third parties but rather the offer of the third party will be provided to Fairmont Hotels & Resorts which will manage the distribution.</p>

    <p style="font-size: 20px;">If you do not wish to receive such offers and information you may unsubscribe or opt-out by sending an email to Fairmont@fairmontmarketing.com, using the subject line "Unsubscribe", so indicating your request with sufficient personal identifiers so we can appropriately act on your request.All our marketing communication of this type will also contain instructions for unsubscribing.</p>

    <p style="font-size: 20px;">REGISTERING WITH FAIRMONT HOTELS & RESORTS' LOYALTY PROGRAM, FAIRMONT PRESIDENT'S CLUB</p>

    <p style="font-size: 20px;">As a customer of Fairmont Hotels & Resorts you have the opportunity to belong to its loyalty program, Fairmont President's Club.  Fairmont President's Club is designed to deliver a higher level of personalization and service, additional personal information will be required.Membership is voluntary.By choosing to enroll you have consented to the supply of and use of your personal information as more particularly outlined in the President's Club Terms and Conditions.  Please click here to view the Fairmont President's Club Terms and Conditions.</p>

    <p style="font-size: 20px;">REGISTERING ON THE EVERYONE’S AN ORIGINAL WEBSITE</p>

    <p style="font-size: 20px;">Individuals interested in sharing their experiences at Fairmont Hotels & Resorts may wish to do so through our Everyone’s an Original website. Although registration is not required to view the site, it is required to enable sharing and other functions on that website. The personal information you provide during registration is used to validate your identity and to enable us to manage and administer your contributions to the website, and to contact you regarding your contributions or use of the website. We may also use your information to contact you about updates or changes to the website, shared content that may be of interest to you, or other offers and information related to Fairmont Hotels & Resorts or marketing partners whose products and services may be of interest to you.</p>

    <p style="font-size: 20px;">
        We may from time to time use third party service providers to facilitate the operation of the Everyone’s an Original website. As a result, your personal information may be accessed, administered or stored by such third parties to the extent reasonably required for them to perform such services. Some service providers may be located in other jurisdictions that do not have privacy legislation similar to that found in Canada, and information in such jurisdictions may be accessed pursuant to the laws of those countries.
    </p>

</div>

